<ul>
  {% if site.email %}<li><a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope"></i></a></li>{% endif %}
  {% if site.twitter %}<li><a class="social-btn" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-twitter"></i></a></li>{% endif %}
  {% if site.facebook %}<li><a class="social-btn" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-facebook"></i></a></li>{% endif %}
  {% if site.google.plus %}<li><a class="social-btn" href="https://plus.google.com/+{{ site.google.plus }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-google-plus"></i></a></li>{% endif %}
  {% if site.linkedin %}<li><a class="social-btn" href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin"></i></a></li>{% endif %}
  {% if site.xing %}<li><a class="social-btn" href="https://www.xing.com/profile/{{ site.xing }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-xing"></i></a></li>{% endif %}
  {% if site.tumblr %}<li><a class="social-btn" href="https://{{ site.tumblr }}.tumblr.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-tumblr"></i></a></li>{% endif %}
  {% if site.github %}<li><a class="social-btn" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i></a></li>{% endif %}
  {% if site.stackoverflow %}<li><a class="social-btn" href="https://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-stack-overflow"></i></a></li>{% endif %}
  {% if site.codepen %}<li><a class="social-btn" href="https://codepen.io/{{ site.codepen }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-codepen"></i></a></li>{% endif %}
  {% if site.keybase %}<li><a class="social-btn" href="https://keybase.io/{{ site.keybase }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-key"></i></a></li>{% endif %}
  {% if site.lastfm %}<li><a class="social-btn" href="https://lastfm.com/user/{{ site.lastfm }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-music"></i></a></li>{% endif %}
  {% if site.dribbble %}<li><a class="social-btn" href="https://dribbble.com/{{ site.dribbble }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-dribbble"></i></a></li>{% endif %}
  {% if site.pinterest %}<li><a class="social-btn" href="https://www.pinterest.com/{{ site.pinterest }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-pinterest"></i></a></li>{% endif %}
  {% if site.foursquare %}<li><a class="social-btn" href="https://foursquare.com/{{ site.foursquare }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-foursquare"></i></a></li>{% endif %}
  {% if site.steam %}<li><a class="social-btn" href="https://steamcommunity.com/id/{{ site.steam }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-steam"></i></a></li>{% endif %}
  {% if site.youtube %}<li><a class="social-btn" href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube"></i></a></li>{% endif %}
  {% if site.soundcloud %}<li><a class="social-btn" href="https://soundcloud.com/{{ site.soundcloud }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-soundcloud"></i></a></li>{% endif %}
  {% if site.weibo %}<li><a class="social-btn" href="https://www.weibo.com/{{ site.weibo }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-weibo"></i></a></li>{% endif %}
  {% if site.instagram %}<li><a class="social-btn" href="https://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a></li>{% endif %}
  {% if site.flickr %}<li><a class="social-btn" href="https://www.flickr.com/{{ site.flickr }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-flickr"></i></a></li>{% endif %}
  {% if site.behance %}<li><a class="social-btn" href="https://www.behance.net/{{ site.behance }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-behance"></i></a></li>{% endif %}
  {% if site.xmpp %}<li><a class="social-btn" href="xmpp:{{ site.xmpp }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-lightbulb-o"></i></a></li>{% endif %}
  {% if site.reddit %}<li><a class="social-btn" href="https://www.reddit.com/user/{{ site.reddit }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-reddit"></i></a></li>{% endif %}
  {% if site.hackernews %}<li><a class="social-btn" href="https://news.ycombinator.com/user?id={{ site.hackernews }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-hacker-news"></i></a></li>{% endif %}
</ul>
